.experience-box-wrapper {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.experience-box-wrapper > :nth-child(n + 4) {
  grid-column: 1 / 3;
  height: 28.8px;
}

.experience-box-wrapper > :nth-child(n + 4) > input {
  height: 100%;
  width: 100%;
}
