.app-wrapper {
  width: 100%;
  height: 100%;
}

/* React split ---------------------------------------------------------------*/
.app-wrapper > div {
  width: 100%;
  height: 100%;
  display: flex;
}

.gutter {
  background-color: rgb(26 26 26);
  display: flex;
  align-items: center;
}
.gutter::after {
  content: url(./assets/ellipsis-vertical-outline.svg);
  width: 100%;
  background-color: rgba(107, 98, 98, 0.979);
}
.gutter:hover {
  background-color: #464954;
  cursor: col-resize;
}
